<script>
    (function ($) {
        "use strict";

        $(".animsition").animsition({
            inClass: 'fade-in',
            outClass: 'fade-out',
            inDuration: 1500,
            outDuration: 800,
            linkElement: '.animsition-link',
            loading: true,
            loadingParentElement: 'html',
            loadingClass: 'animsition-loading-1',
            loadingInner: '<div class="loader05"></div>',
            timeout: false,
            timeoutCountdown: 5000,
            onLoadEvent: true,
            browser: ['animation-duration', '-webkit-animation-duration'],
            overlay: false,
            overlayClass: 'animsition-overlay-slide',
            overlayParentElement: 'html',
            transition: function (url) {
                window.location.href = url;
            }
        });


    })(jQuery);


    /*--------------------
    CSRF_TOKEN
    ----------------------*/
    const getToken = (name) => {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(
                        name.length += 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    let csrftoken = getToken('csrftoken');


    /*--------------------
    SEARCH ENGINE
    ----------------------*/
    //Function Prototype    
    const sendSearchData = (keyword) => {
        $.ajax({
            type: "POST",
            url: "/search/",
            data: {
                'csrfmiddlewaretoken': csrftoken,
                'keyword': keyword,
            },
            beforeSend: function () {
                //user can't click the button by the time
                $("#loading").addClass('spinner-border');
                $("#spinner").addClass('visually-hidden');
            },
            success: function (response) {
                console.log(response)
                const data = response.queryset
                if (Array.isArray(data)) {

                    searchquery.innerHTML = " "
                    data.forEach(keyword => {
                        searchquery.innerHTML +=
                            `<li class="mb-2 search-obj pt-3 pb-3 px-4"><a class="text-black" href="${keyword.url}" style="text-decoration:none;"><b>${keyword.title}</b></a></li> `
                    })
                } else {
                    if (searchinput.value.length > 0) {
                        searchquery.innerHTML = `<p  class="text-black pt-3 pb-3 px-4">${data}</p> `
                    } else {
                        searchquery.classList.add("invisible");
                    }
                }
            },
            error: function (error) {
                console.log(error.data)
            }


        })
    }


    const searchform = document.getElementById("search-form")
    const searchinput = document.getElementById("search-input")
    const searchquery = document.getElementById("search-query")

    const csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value
    console.log(csrf_token)
    searchinput.addEventListener("keyup", e => {
        console.log("printing", e.target.value)
        if (searchquery.classList.contains('invisible')) {
            searchquery.classList.remove('invisible')
        }
        sendSearchData(e.target.value);
    })


    /*--------------------
    QUANTITY INCR/DECR
    ----------------------*/
    const minValue = 0
    const maxValue = 10
    const inputField = document.getElementById("product-quantity")
    const incrementBtn = document.getElementsByClassName("btn-num-product-up")
    const decrementBtn = document.getElementsByClassName("btn-num-product-down")
    for (let i = minValue; i < incrementBtn.length; i++) {
        let thisButton = incrementBtn[i];
        console.log(thisButton)
        thisButton.onclick = (event) => {
            let buttonClicked = event.target;
            console.log(buttonClicked)
            console.log(buttonClicked.parentElement)
            let input1 = buttonClicked.parentElement.children[1];
            console.log(input1)

            let inputValue = input1.value;

            let newValue = parseInt(inputValue) + 1;
            console.log(newValue)
            if (newValue <= maxValue) {
                input1.setAttribute('value', newValue);
            }
        }
    }

    for (let i = minValue; i < decrementBtn.length; i++) {
        let thisButton = decrementBtn[i];
        console.log(thisButton)
        thisButton.onclick = (event) => {
            let buttonClicked = event.target;
            console.log(buttonClicked)
            let input1 = buttonClicked.parentElement.children[1];

            let inputValue = input1.value;

            let newValue = parseInt(inputValue) - 1;
            console.log(newValue)
            if (newValue > minValue) {
                input1.setAttribute('value', newValue);
            } else {
                input1.setAttribute('value', 0);
            }

        }
    }




    /*--------------------
    SHOW PRODUCT DETAIL VIEW
    ----------------------*/
    const modalBtns = [...document.getElementsByClassName('product-modal-btn')] //Array
    const imgGalleryDiv = document.getElementById('img-gallery')
    const wrapSlickDiv = document.getElementById('featured')
    const prodcut_title = document.getElementById('product-title')

    modalBtns.forEach((modalELement) => modalELement.addEventListener('click', () => {
        console.log('hello')
        const prod_code = modalELement.getAttribute('prod-code')
        const prod_id = modalELement.getAttribute('prod-id')

        const url = "{% url 'Clothes:product-json-view' %}";
        const data = {
            "prod_id": prod_id,
            "prod_code": prod_code
        }
        fetch(url, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data)//We dont need to stringify when data is a string.

        })
            .then((response) => {
                return response.json();
            })

            //success
            .then((elem) => {
                imageArray = elem['images']
                wrapSlickDiv.setAttribute('src', String(elem['thumbnail']))
                console.log('ImageArrayLength:', imageArray.length)
                if (imageArray.length != 0) {
                    imageArray.forEach((image) => {
                        console.log("yes")
                        imgGalleryDiv.innerHTML += `
                            <img class="thumbnail" src="${image['image']}" alt="IMG-PRODUCT">
                `
                    })
                } else {
                    imgGalleryDiv.innerHTML += `
                            <img class="thumbnail" src="${String(elem['thumbnail'])}" alt="IMG-PRODUCT">
                `
                }

                const productAddBtn = document.getElementById("product-add-btn")
                productAddBtn.setAttribute('prod-code', prod_code)
                productAddBtn.setAttribute('prod-id', prod_id)

                const prodcut_title = document.getElementById('product-title')
                prodcut_title.innerHTML = elem.name
                const prodcut_price = document.getElementById('product-price')
                prodcut_price.innerHTML = '$' + elem.price
                const product_description = document.getElementById('product-description')
                product_description.innerHTML = elem.description

                //Dump Image Album
                let thumbnails = document.getElementsByClassName('thumbnail')
                let activeImages = document.getElementsByClassName('active')

                for (var i = 0; i < thumbnails.length; i++) {
                    thumbnails[i].addEventListener('click', function () {
                        console.log(activeImages)

                        if (activeImages.length > 0) {
                            activeImages[0].classList.remove('active')
                        }
                        this.classList.add('active')
                        document.getElementById('featured').src = this.src
                    })
                }

                //Image Slider and Controller
                let buttonRight = document.getElementById('slideRight');
                let buttonLeft = document.getElementById('slideLeft');
                buttonLeft.addEventListener('click', function () {
                    document.getElementById('img-gallery').scrollLeft -= 180
                })

                buttonRight.addEventListener('click', function () {
                    document.getElementById('img-gallery').scrollLeft += 180
                })

                //Reset Gallery on Close Button Click 
                const close_button = document.getElementById("btn-close")
                close_button.addEventListener('click', () => {
                    imgGalleryDiv.innerHTML = ''
                })
            })


    }));




    /*---------------------------------
        ADD/UPDATE PRODUCT IN MODAL FORM 
    ----------------------------------*/
    const productAddBtn = document.getElementById("product-add-btn")
    productAddBtn.addEventListener("click", (e) => {
        outputhtml = ''
        e.preventDefault()
        prod_id = productAddBtn.getAttribute('prod-id')
        prod_code = productAddBtn.getAttribute('prod-code')
        prod_size = document.querySelector('se')
        prod_color = productAddBtn.getAttribute('prod-color')

        const productQuantity = document.getElementById("product-quantity")
        let prod_quantity = productQuantity.getAttribute('value')
        const url = "{% url 'Basket:basket-add-view' %}"
        const data = {
            "prod_id": prod_id,
            "prod_code": prod_code,
            "prod_quantity": prod_quantity,
            "prod_size": prod_size,
            "prod_color": prod_color
        }
        console.log("data:", data)
        fetch(url, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data)

        })
            .then((response) => {
                return response.json();
            })
            .then((response) => {
                let elements = response.products
                console.log(elements)
                let cartDiv = document.getElementsByClassName("your-cart")
                for (let i = 0; i < cartDiv.length; i++) {
                    cartDiv[i].setAttribute('data-notify', response.basketqty)
                }
                const headerCartTotal = document.getElementById('header-cart-total')
                headerCartTotal.innerHTML = "Total: Rs " + response.basketsubtotal

                const headerCart = document.getElementById('header-cart')
                let outputhtml = ''
                elements.forEach((elem) => {
                    console.log('elem', ':', elem)
                    outputhtml += `
                        <li id="cart-${elem['id']}" class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <img src="${elem['thumbnail']}" alt="IMG">
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                ${elem['title']}
                                </a>

                                <span class="header-cart-item-info">
                                ${elem['qty']} x ${elem['price']}
                                </span>
                            </div>
                        </li>
                    `
                });
                headerCart.innerHTML = outputhtml


            })
    })


    /*---------------------------------
        DELETE PRODUCT IN CART PAGE 
    ----------------------------------*/

    $('.product-delete-btn').on('click', function () {
        output = " ";
        console.log('fine')
        const getToken = (name) => {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(
                            name.length += 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getToken('csrftoken');

        let fdata = {
            "prod_id": $(this).attr('prod-id'),
            'csrfmiddlewaretoken': csrftoken
        }
        mythis = this;
        console.log(fdata)
        $.ajax({
            url: "{% url 'Basket:basket-delete-view' %}",
            method: "post",
            data: fdata,
            dataType: 'json',
            success: function (response) {
                console.log(response)
                if (response.action == 'delete') {
                    //Remove Element
                    const cartDiv = document.getElementById("your-cart")
                    cartDiv.setAttribute('data-notify', response.basketqty)
                    $(mythis).closest('tr').fadeOut()

                    //updating value in Elements
                    document.getElementById('header-cart-total').innerHTML = "Total: $" + response.basket_subtotal_price
                    document.getElementById('cart-' + response.delete_id).style.display = "none";
                    document.getElementById("basket-stotal-price").innerHTML = '$' + response.basket_subtotal_price
                }
            },
            error: function (error) {
                console.log(error)
            }
        })

    })


    /*---------------------------------
    UPDATE PRODUCT IN CART PAGE 
    ----------------------------------*/
    $(document).on('change', '.selectQuantity', function () {
        console.log('ss')
        let prod_qty = $(this).val();
        let prod_id = $(this).attr('pdt_id')
        let prod_name = $(this).attr('pdt_name')
        console.log(prod_qty, prod_id, prod_name)
        var _vm = $(this);
        // Ajax
        $.ajax({
            type: "POST",
            url: "{% url 'Basket:basket-update-view' %}",
            data: {
                'prod_id': prod_id,
                'prod_name': prod_name,
                'prod_qty': prod_qty,
                'csrfmiddlewaretoken': csrftoken,
            },

            dataType: 'json',
            beforeSend: function () {
                _vm.attr('disabled', true);
            },
            success: function (res) {
                console.log(res)
                $("#basket-stotal-price").html('Rs ' + res.basketsubtotal);


                //update table
                const tableCart = document.getElementById('table-shopping-cart')
                let outputhtml = ''
                let products = res.products
                products.forEach((product) => {
                    outputhtml += `
                        
                        <tr class="p-3">
                            <td class="column-1">
                                <div class="how-itemcart1">
                                    <img src="${product['thumbnail']}" alt="IMG">
                                </div>
                            </td>
                            <td class="column-2"> ${product['title']}</td>
                            <td class="column-3">Rs ${product['price']}</td>
                            <td class="column-4" style="width: 150px;">

                                <div class="select">
                                    <select name="selectQuantity" pdt_name="${product['title']}" pdt_id="${product['id']}"
                                        class="selectQuantity" id="selectQuantity">
                                        <option selected>Currently ${product['qty']}</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>

                            </td>

                            <td class="column-5">Rs ${product['totalprice']}</td>
                            <td class="column-5"><button type="button" prod-id="${product['id']}" id="product-delete-btn" class="btn btn-sm btn-danger product-delete-btn">Delete</button></td>
                        </tr>
                `
                });
                tableCart.innerHTML = outputhtml

                //update header cart
                const headerCart = document.getElementById('header-cart')
                let output = ''
                products.forEach((elem) => {
                    console.log('elem', ':', elem)
                    output += `
                    <li id="cart-${elem['id']}" class="header-cart-item flex-w flex-t m-b-12">
                        <div class="header-cart-item-img">
                            <img src="${elem['thumbnail']}" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt p-t-8">
                            <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                            ${elem['title']}
                            </a>

                            <span class="header-cart-item-info">
                            ${elem['qty']} x ${elem['price']}
                            </span>
                        </div>
                    </li>
                `
                });
                headerCart.innerHTML = output

                const headerCartTotal = document.getElementById('header-cart-total')
                headerCartTotal.innerHTML = "<strong>Total:</strong> Rs " + res.basketsubtotal


            }
        });
        // End
    });




    /*---------------------------------
        PRODUCT REVIEW FORM
    ----------------------------------*/
    $("#addForm").submit(function (e) {
        $.ajax({
            data: $(this).serialize(),
            method: $(this).attr('method'),
            url: $(this).attr('action'),
            dataType: 'json',
            success: function (res) {
                if (res.bool == true) {
                    $(".ajaxRes").html('Data has been added.');
                    $("#reset").trigger('click');
                    // Hide Button
                    $(".reviewBtn").hide();
                    // End

                    // create data for review
                    var _html = '<blockquote class="blockquote text-right">';
                    _html += '<small>' + res.data.review_text + '</small>';
                    _html += '<footer class="blockquote-footer">' + res.data.user;
                    _html += '<cite title="Source Title">';
                    for (var i = 1; i <= res.data.review_rating; i++) {
                        _html += '<i class="fa fa-star text-warning"></i>';
                    }
                    _html += '</cite>';
                    _html += '</footer>';
                    _html += '</blockquote>';
                    _html += '</hr>';

                    $(".no-data").hide();

                    // Prepend Data
                    $(".review-list").prepend(_html);

                    // Hide Modal
                    $("#productReview").modal('hide');

                    // AVg Rating
                    $(".avg-rating").text(res.avg_reviews.avg_rating.toFixed(1))
                }
            }
        });
        e.preventDefault();
    });


</script>