{% for i in products %}
<div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
    <div class="block-4 text-center border">
        <figure class="block-4-image">
            <a href="shop-single.html"><img src="{{i.thumbnail}}" alt="Image placeholder" class="img-fluid"></a>
        </figure>
        <div class="block-4-text p-4">
            <strong>{{i.title}}</strong>
            <p class="mb-0">{{i.description}}</p>
            <p class="text-muted ">${{i.price}}</p>
        </div>
    </div>
</div>
{% endfor %}