{% extends 'frontendbase.html' %}
{% load pricefilter %}
{% block title %}Checkout{% endblock %}

{% block head %}
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Checkout
        </span>
    </div>
</div>

{% endblock %}

{% block body %}
<main class="p-5">
    <div id="content">


        <div class="container">

            <div class="row gx-3">

                <!--Delivery Form-->
                {% if request.user.is_authenticated %}
                <div class="col-md-7 col-lg-7 me-5">
                    <div class="mb-3">
                        <label for="fullname" class="form-label">
                            Full name
                            <sup class="required" title="Required">*</sup>
                        </label>
                        <input type="text" name="fullname" id="fullname" class="form-control"
                            placeholder="Your full name ">
                    </div>

                    <div class="mb-3">
                        <label for="email_address" class="form-label">
                            Email address
                            <sup class="required" title="Required">*</sup>
                        </label> <input type="email" class="form-control" name="email" id="email_address"
                            autocapitalize="off" autofocus="autofocus" placeholder="Email Address" aria-required="true">
                    </div>


                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">
                                Address
                                <sup class="required" title="Required">*</sup>
                            </label>
                            <input type="text" name="address" id="address" class="form-control" placeholder="Address">
                        </div>
                        <div class="col">
                            <label class="form-label">
                                City
                                <sup class="required" title="Required">*</sup>
                            </label>
                            <input type="text" name="city" id="city" class="form-control" placeholder="City you live in"
                                aria-label="Last name">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">
                                Phone Number
                                <sup class="required" title="Required">*</sup>
                            </label>
                            <input type="text" name="phonenumber" id="phonenumber" class="form-control"
                                placeholder="Phone Number">
                        </div>
                        <div class="col">
                            <label class="form-label">
                                Postal Code
                                <sup class="required" title="Required">*</sup>
                            </label>
                            <input id="zip" name="zip" type="text" class="form-control" placeholder="3456"
                                pattern="[0-9]*" maxlength="4">
                        </div>
                    </div>

                    <label class="form-label">Delivery Options <sup class="required" title="Required">*</sup></label>
                    {% for i in deliveryoptions %}
                    <div class="card mb-3 border-1 rounded-0 product-item me-md-4" data-index="1">

                        <div class="row g-0">

                            <div class="col-md-2 ps-3 ps-md-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                    class="bi bi-truck mt-2" viewBox="0 0 16 16">
                                    <path
                                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                                    </path>
                                </svg>
                            </div>
                            <div class="col-md-9 ps-md-1">
                                <div class="card-body p-1">
                                    <p class="card-text ps-2 mb-1 pt-1 fw-bold">{{i.name}}</p>
                                    <p class="card-text ps-2 pb-3">{{i.description}}</p>
                                </div>
                            </div>
                            <div class="col-md-1 ps-md-1">
                                <input class="align-middle h-100" type="radio" name="deliveryOption" id="{{i.id}}"
                                    deliveryoptions="{{i.name}}" value="{{i.price}}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                {% else %}
                <div class="col-md-7 col-lg-7 me-5">

                    <div class="row mb-3">
                        <div class="col">
                            <label for="fullname" class="form-label">
                                Your name
                                <sup class="required" title="Required">*</sup>
                            </label>
                            <input type="text" name="fullname" id="fullname" class="form-control"
                                placeholder="Enter your name">
                        </div>
                        <div class="col">
                            <label for="email_address" class="form-label">
                                Email address
                                <sup class="required" title="Required">*</sup>
                            </label> <input type="email" class="form-control" name="email" id="email_address"
                                autocapitalize="off" autofocus="autofocus" placeholder="Email Address"
                                aria-required="true">
                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="col">
                            <label class="form-label">
                                City
                                <sup class="required" title="Required">*</sup>
                            </label>
                            <input type="text" name="city" id="city" class="form-control" placeholder="City you live in"
                                aria-label="Last name">
                        </div>

                        <div class="col">
                            <label class="form-label">
                                Address
                                <sup class="required" title="Required">*</sup>
                            </label>
                            <input type="text" name="address" id="address" class="form-control" placeholder="Address">
                        </div>

                    </div>

                    <label class="form-label">Delivery Options <sup class="required" title="Required">*</sup></label>
                    {% for i in deliveryoptions %}
                    <div class="card mb-3 border-1 rounded-0 product-item me-md-4" data-index="1">

                        <div class="row g-0">

                            <div class="col-md-2 ps-3 ps-md-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                    class="bi bi-truck mt-2" viewBox="0 0 16 16">
                                    <path
                                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                                    </path>
                                </svg>
                            </div>
                            <div class="col-md-9 ps-md-1">
                                <div class="card-body p-1">
                                    <p class="card-text ps-2 mb-1 pt-1 fw-bold">{{i.name}}</p>
                                    <p class="card-text ps-2 pb-3">{{i.description}}</p>
                                </div>
                            </div>
                            <div class="col-md-1 ps-md-1">
                                <input class="align-middle h-100" type="radio" name="deliveryOption" id="{{i.id}}"
                                    deliverytype="{{i.name}}" value="{{i.price}}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
                {% endif %}

                <!--Summary-->
                <div class="col-md-4 col-lg-4 shadow p-5">
                    <div class="d-flex bd-highlight ms-0">
                        <div class="p-2 flex-grow-1 bd-highlight">Sub Total:</div>
                        <div class="p-2 bd-highlight">
                            <span id="subtotal" class="fw-bold h5"
                                price="{{basket.get_subtotal_price}}">{{basket.get_subtotal_price |currency}}</span>
                        </div>
                    </div>
                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight">Delivery Cost:</div>
                        <div class="p-2 bd-highlight">
                            <span id="deliveryprice" class="fw-bold h5">Rs 0</span>
                        </div>
                    </div>
                    <div class="d-flex bd-highlight mb-3">
                        <div class="p-2 flex-grow-1 bd-highlight">Total:</div>
                        <div class="p-2 bd-highlight">
                            <span id="totalprice" class="fw-bold h5">{{basket.get_subtotal_price |currency}}</span>
                        </div>
                    </div>

                    <button type="button" class="khalti-btn fw-bold w-100" id="payment-button">Pay with Khalti</button>

                </div>

            </div>
        </div>




    </div>
</main>
{% endblock %}

{% block script %}
<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    var user = '{{request.user}}'
    console.log(user)
    var config = {
        // replace the publicKey with yours
        "publicKey": "test_public_key_95cae5a0974c43b1a6be964395ab4853",
        "productIdentity": "order_{{order.id}}",
        "productName": "order_{{order.id}}",
        "productUrl": "http://localhost:8000",
        "paymentPreference": [
            "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
        ],
        "eventHandler": {
            onSuccess(payload) {
                console.log('Payload:', payload);

                if (user != 'AnonymousUser') {
                    LoggedInCheckout()
                } else {
                    /*CHECK  IF EMAIL IS VALID AND ACCEPTS SMTP FIRST */
                    var myHeaders = new Headers();
                    myHeaders.append("apikey", "7uFyZhv9LGMv6XMbx9LZMxSjtviZvqsZ");

                    var requestOptions = {
                        method: 'GET',
                        redirect: 'follow',
                        headers: myHeaders
                    };

                    let email = $("#email_address").val()
                    fetch(`https://api.apilayer.com/email_verification/check?email=${email}`, requestOptions)
                        .then(response => response.text())
                        .then(result => {
                            console.log(result)
                            resultJson = JSON.parse(result)
                            if (resultJson.smtp_check == true && resultJson.format_valid == true) {
                                GuestCheckout(email)
                            } else {
                                console.log("Sorry Couldn't proccess for payment. Hint:We can't send emails to this email.")
                            }
                        })
                        .catch(error => console.log('error', error));


                }

                function GuestCheckout(email) {
                    axios.get("{% url 'Ehub:guest-user-payment-view' %}", {
                        params: {
                            "token": payload.token,
                            "amount": payload.amount,
                            "name": document.getElementById('fullname').value,
                            "email": email,
                            "address": document.getElementById('address').value,
                            'city': document.getElementById('city').value,
                            'deliveryid': document.querySelector('input[name="deliveryOption"]:checked').getAttribute('id')
                        }

                    }).then(function (resp) {
                        console.log(resp.data)
                        if (resp.data.success == true) {
                            alert("Payment Completed Successfully. Your Order has been placed.")
                            window.location.href = "{% url 'Ehub:home-view' %}"
                        } else {
                            alert("Sorry. Error occurred")
                            location.href = "{{request.build_absolute_uri}}"
                        }
                    })
                }


                function LoggedInCheckout() {
                    axios.get("{% url 'Ehub:loggedin-user-payment-view' %}", {
                        params: {
                            "token": payload.token,
                            "amount": payload.amount,
                            "fullname": document.getElementById('fullname').value,
                            "email": document.getElementById('email_address').value,
                            "phonenumber": document.getElementById('phonenumber').value,
                            "address": document.getElementById('address').value,
                            'city': document.getElementById('city').value,
                            'zip': document.getElementById('zip').value,
                            'deliveryid': document.querySelector('input[name="deliveryOption"]:checked').getAttribute('id')
                            //   "order_id": "{{order.id}}"
                        }

                    }).then(function (resp) {
                        console.log(resp.data)
                        if (resp.data.success == true) {
                            alert("Payment Completed Successfully. Your Order has been placed.")
                            window.location.href = "{% url 'Ehub:home-view' %}"
                        } else {
                            alert("Sorry. Error occurred")
                            location.href = "{{request.build_absolute_uri}}"
                        }
                    })
                }

            },
            onError(error) {
                console.log('500 error')
                console.log(error);
            },
            onClose() {
                console.log('widget is closing');
            }
        }
    };

    let checkout = new KhaltiCheckout(config);
    let btn = document.getElementById("payment-button");

    btn.onclick = function () {
        totalamount = Number(document.getElementById('totalprice').getAttribute('value'))
        //minimum transaction amount must be 10, i.e 1000 in paisa.
        checkout.show({ amount: totalamount * 100 });
    }



</script>

<script>
    $(document).ready(function () {

        /*--------------------
        CSRF_TOKEN
        ----------------------*/
        const getToken = (name) => {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(
                            name.length += 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getToken('csrftoken');


        //DELIVERY PRICE AND TOTAL PRICE UPDATE
        $('input[type=radio][name=deliveryOption]').on('change', function (e) {

            $.ajax({
                type: "POST",
                url: "{% url 'Basket:basket-delivery-view' %}",
                data: {
                    deliveryoption: $(this).attr('id'),
                    csrfmiddlewaretoken: csrftoken,
                },
                success: function (jsonresponse) {
                    document.getElementById('totalprice').setAttribute('value', jsonresponse.totalprice)
                    document.getElementById('totalprice').innerHTML = 'Rs ' + jsonresponse.totalprice
                    document.getElementById("deliveryprice").innerHTML = jsonresponse.delivery_price;
                },
                error: function (xhr, errmsg, err) { },
            });

        });


    })
</script>
{% endblock %}