{% extends 'frontendbase.html' %}
{% block title %}
<title>VanesStore | Your Cart</title>
{% endblock %}
{% block head %}
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shopping Cart
        </span>
    </div>
</div>
<br><br>
{% endblock %}

{% block body %}


<br><br>

<!-- Shoping Cart -->

<div class="container">
    <div class="row">

        <div class="col-lg-8 col-sm-12  m-b-50">
            <div class="m-l-25 m-r--38 ">
                <div class="wrap-table-shopping-cart">
                    <table class="table-shopping-cart">
                        <tr class="table_head">
                            <th class="column-1">Product</th>
                            <th class="column-2"></th>
                            <th class="column-3">Price</th>
                            <th class="column-4">Quantity</th>
                            <th class="column-5">Total</th>
                            <th class="column-5">Action</th>
                        </tr>
                        {% if basket.get_cart_items == 0 %}
                        <h1 class="mb-2"> No products added yet!</h1>
                        {% else %}
                        {% for item in basket %}
                        {% with product=item.product %}
                        <tr class=" table_row">
                            <td class="column-1">
                                <div class="how-itemcart1">
                                    <img src="{{product.thumbnail}}" alt="IMG">
                                </div>
                            </td>
                            <td class="column-2"> {{product.title}}</td>
                            <td class="column-3"> ${{product.price}}</td>
                            <td class="column-4">
                                <div class="wrap-num-product flex-w m-l-auto m-r-0">

                                    <div id="btn-num-product-down"
                                        class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>

                                    <input class="mtext-104 cl3 txt-center num-product" type="number"
                                        name="num-product1" id="product-quantity" value="0">

                                    <div id="btn-num-product-up"
                                        class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div>
                            </td>
                            <td class="column-5">${{item.total_price}}</td>
                            <td class="column-5"><button prod-id="{{product.id}}" id="product-delete-btn"
                                    class="btn btn-sm btn-danger product-delete-btn">Delete</button></td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        {% endif %}

                    </table>
                </div>


            </div>
        </div>

        <!--SideBar-->
        <div class="col-lg-4 col-sm-12  m-b-50">
            <div class="bor10 p-lr-40 p-t-30 p-b-40 p-lr-15-sm">
                <h4 class="mtext-109 cl2 p-b-30">
                    Cart Totals
                </h4>

                <div class="flex-w flex-t bor12 p-b-13">
                    <div class="size-208">
                        <span class="stext-110 cl2">
                            Subtotal:
                        </span>
                    </div>

                    <div class="size-209">
                        <span id="basket-stotal-price" class="mtext-110 cl2">
                            $ {{basket.get_subtotal_price}}
                        </span>
                    </div>
                </div>

                <div class="flex-w flex-t p-t-27 p-b-33">
                    <div class="flex-w flex-m m-r-20 m-tb-5">
                        <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon"
                            placeholder="Coupon Code">

                        <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                            Apply coupon
                        </div>
                    </div>

                </div>


                <div class="flex-w flex-t p-t-27 p-b-33">
                    <div class="size-208">
                        <span class="mtext-101 cl2">
                            Total:
                        </span>
                    </div>

                    <div class="size-209 p-t-1">
                        <span class="mtext-110 cl2">
                            $79.65
                        </span>
                    </div>
                </div>

                <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                    Proceed to Checkout
                </button>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script>
    //DeleteProducts
    $(document).ready(function () {

        $('tr').on('click', '#product-delete-btn', function () {
            output = " ";
            console.log('fine')
            const getToken = (name) => {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(
                                name.length += 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            let csrftoken = getToken('csrftoken');

            let fdata = {
                "prod_id": $(this).attr('prod-id'),
                'csrfmiddlewaretoken': csrftoken
            }
            mythis = this;
            console.log(fdata)
            $.ajax({
                url: "{% url 'Basket:basket-delete-view' %}",
                method: "post",
                data: fdata,
                dataType: 'json',
                success: function (response) {
                    console.log(response)
                    if (response.action == 'delete') {
                        //Remove Element
                        const cartDiv = document.getElementById("your-cart")
                        cartDiv.setAttribute('data-notify', response.basketqty)
                        $(mythis).closest('tr').fadeOut()

                        //updating value in Elements
                        document.getElementById('header-cart-total').innerHTML = "Total: $" + response.basket_subtotal_price
                        document.getElementById('cart-' + response.delete_id).style.display = "none";
                        document.getElementById("basket-stotal-price").innerHTML = '$' + response.basket_subtotal_price
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })

        })
    })
</script>
{% endblock %}