{% extends 'frontendbase.html' %}
{% load static %}
{% block title %}Shopping Cart{% endblock %}
{% load pricefilter %}
{% block head %}

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shopping Cart
        </span>
    </div>
</div>
<br><br>
{% endblock %}

{% block body %}
<style>
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 1 px solid rgb(64, 64, 64);
        background: white;
        background-image: none;
        flex: 1;
        padding: 0 .5em;
        color: #555;
        cursor: pointer;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
    }

    select::-ms-expand {
        display: none;
    }

    .select {
        position: relative;
        display: flex;
        width: 100%;
        height: 3em;
        line-height: 3;
        background: white;
        overflow: hidden;
        border-radius: .25em;
    }

    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #2b2e2e;
        cursor: pointer;
        pointer-events: none;
        transition: .25s all ease;
    }

    .select:hover::after {
        color: #ffffff;
    }
</style>

<br><br>


<!-- Shoping Cart -->
<div class="container">
    <div class="row">

        <div class="col-lg-9 col-sm-12  m-b-50">
            {% if basket.get_cart_items == 0 %}
            <h1 class="mb-2"> No products added yet!</h1>
            {% else %}

            <table class="table bor10">
                <thead>
                    <tr class="table_head p-3">

                        <th scope="col">Img</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="table-shopping-cart">
                    {% for item in basket %}
                    {% with product=item.product %}
                    <tr class="p-3">
                        <td class="column-1">
                            <div class="how-itemcart1">
                                <img src="{{product.thumbnail}}" alt="IMG">
                            </div>
                        </td>
                        <td class="column-2"> {{product.title}}</td>
                        <td class="column-3"> {{product.price |currency}}</td>
                        <td class="column-4" style="width: 150px;">

                            <div class="select">
                                <select name="selectQuantity" pdt_name="{{product.title}}" pdt_id="{{product.id}}"
                                    class="selectQuantity" id="selectQuantity">
                                    <option selected>Currently {{item.qty}}</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>

                        </td>

                        <td class="column-5">{{item.total_price |currency}}</td>
                        <td class="column-5"><button prod-id="{{product.id}}" id="product-delete-btn"
                                class="btn btn-sm btn-danger product-delete-btn">Delete</button></td>
                    </tr>


                    {% endwith %}
                    {% endfor %}
                    {% endif %}
                </tbody>

            </table>



        </div>

        <!--SideBar-->
        <div class="col-lg-3 col-sm-12  m-b-50">
            <div class="bor10 p-lr-40 p-t-30 p-b-40 p-lr-15-sm">
                <h4 class="mtext-109 cl2 p-b-30">
                    Cart Totals
                </h4>

                <div class="flex-w flex-t bor12 p-b-13">
                    <div class="size-208">
                        <span class="stext-110 cl2">
                            Subtotal:
                        </span>
                    </div>

                    <div class="size-209">
                        <span id="basket-stotal-price" class="mtext-110 cl2">
                            {{basket.get_subtotal_price|currency}}
                        </span>
                    </div>
                </div>


                <div class="flex-w flex-t p-t-27 p-b-33">
                    <div class="flex-w flex-m m-r-20 m-tb-5">
                        <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon"
                            placeholder="Coupon Code">

                        <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                            Apply coupon
                        </div>
                    </div>

                </div>



                <div class="flex-w flex-t p-t-27 p-b-33">
                    <div class="size-208">
                        <span class="mtext-101 cl2" id="header-cart-total">
                            Total: {{basket.get_subtotal_price|currency}}
                        </span>
                    </div>

                    <div class="size-209 p-t-1">
                        <span class="mtext-110 cl2">

                        </span>
                    </div>
                </div>

                <a href="{% url 'Ehub:checkout-view' %}">
                    <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
{% include 'utilities/extras.html' %}
<script>

</script>

{% endblock %}